<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TfsServerUrl" value="http://dodteam:8080/"/>
    <add key="TfsProjectName" value="OCEAN"/>
    <add key="SharePointWebUrl" value="http://ododsharepoint/sites/ocs_development/"/>
    <add key="SharepointCalendarName" value="Calendar"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
